html,body{
  height: 100%;
}

body,
ul,

p {
  
  list-style-type: none;
  margin:  10px 0px;
  padding: 0px;
  text-align: justify;   
  
  font-family: Arial;
}
p1,p2,p3{
    display: block;
    margin-top: 0px;
    margin: 3px 20;

}
/* Cards */
.postcard {
  
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard .t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  margin-left: 20px;
  font-size: 80%;
}

.postcard .postcard__title {
  margin-left: 20px;
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  
  width: 5px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
  margin-left: 20px;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  margin-left: 20px;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100%;
}
.red{
  margin-right: 20px;
}

@media screen and (min-width: 769px) {
  .postcard {
      flex-wrap: inherit;
  }

  .postcard .postcard__title {
      font-size: 2rem;
  }

  .postcard .postcard__tagbox {
      justify-content: start;
  }

  .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
  }

  .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
  }

  .postcard:hover .postcard__img {
      transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
      flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
      padding: 2rem 3.5rem;
  }

  .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px;
  }

  .postcard.dark .postcard__text:before {
      background: #18151f;
  }

  .postcard.light .postcard__text:before {
      background: #e1e5ea;
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}
.postcard__title:hover{
  color: yellow !important;
}
.yellow .postcard__title:hover {
  text-decoration: none !important;
  color: #bdbb49 !important;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
      background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
      background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
      background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
      background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
li{
  margin: -5px;
  padding: 0;
}
.dropdown{
  text-align: center ;
  background-color: transparent !important;
}
.dropdown:hover{
  background: transparent !important;
  
}
.dropdown-toggle{
  font-size: 1.8rem;
  background-color: transparent !important;
  text-align: center ;
}
.dropdown-toggle:hover{
  background-color: transparent !important;
}
.dropdown-item{
  text-align: center;
  font-size: 1.5rem;
  background-color: black !important;
}
.dropdown-item:hover{
  background-color: rgb(36, 36, 36) !important;

}
.dropdown-menu{
  text-align: center ;
  background-color: black !important;
}
    
     

.row{
    width: 100%;
    margin-top: 40px;
}
a {
    list-style-type: none;

    color: rgb(88, 88, 88);
}
.header img{
    margin-top: -20px;
    width: 70px;
}
.menu1 a:hover {
    list-style-type: none;
    color:rgb(247, 255, 139);
}
li a  {
    display: block;
    color: white;
    text-align: center !important;
    padding: 14px 16px;

    

}
 
.header{
    background-color: black;
    color: white;
    padding: 10px;
    
 
}
.menu1 a{ color: white;padding-left: 10px;}
.menu1{
    position: absolute;
    font-size: 1.7rem;  
    right: 0; 
    margin: -30px 30px;

}


.submit-close {
    color: black;
    position:absolute;
    top:2px; right:0px;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
}
  

  
.submit-line input {
      
    width: 100%;
    padding-left:30px;
}
  
.footer {
    background: #000000;
    color: white;
    display: flex;
    
    margin-top: 250px;
}
  
.menu {
    display: flex;
}
  
.menu li {
    margin-left: 10px;
}
  
.menu li a {
    display: block;
    padding: 0px ;
}
  
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}



.footer p {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  

}
.footer img {
      max-width: 50px;
      margin-top: 10px;
      position: relative;
      left:  750px;
}





  
  /* Menu Mobile */
  @media screen and (max-width:600px){
    .header img{
      margin-top: 10px;
    }
    .formulario{
        text-align: center;
        margin-top: 40px;
    }
    .menu1{

        margin:  0px;
    
    }
    .logo img{
      margin-left: 0px;
    }
    .header{
        padding: 30px;
    }
    .texto  {
      
      min-width: 100%;
      width: 100%;
      
    }
    .footer img{
      left: 0;
    }



}

@media screen and (min-width:601px) and (max-width:980px){
    .menu1{

        margin: 0px;
    
    }
    .formulario{
        text-align: center;
        margin-top: 40px;
    }
  .logo img{
    margin-left: 0px;
  }

    .submit-line{display: none;}

    .redes{
      margin-top: 0px;
    }
    .footer img{
      left: 0;
    }

}

@media screen and (max-width: 1024px) {


  .footer img{
    left: 0px;
  }

    .menu1{

        margin: 0px;
    
    }
    .formulario{
        text-align: center;
        margin-top: 40px;
    }
  .logo img{
    margin-left: 0px;
  }

    
    .header{        
        position: fixed;
        top: -10px;        
        z-index: 999;
        max-width:100% !important;
        padding: 20px;
        width: 100%;
    }
    .container_nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }
    .main{
        margin-top: 180px;
    }

    .menu1 {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        max-width:100% !important;
        
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
    .menu1{
      margin-left: -30px ;
    }

    .menu1 a,li {
      
      margin-top: 10px; 
      display: block;
      text-align: center;
      width: 100%;
      margin-bottom:0px;
    }
    .dropdown-menu{
      width: 100%;
      background: transparent !important;
    }
    .dropdown-item{
      background: transparent !important;

    }
    .menu-icon {
        
        margin: -25px 0 ;
        height: inherit;
        display: block;
        position: absolute;
        margin-bottom: 0px;
        right: 30px;
        line-height: 30px;
        color: white;
        z-index: 999;
    }
    #menuToggle:checked ~ label i:nth-child(2) {
      display: block;
    }
    #menuToggle:checked ~ label i:first-child {
      display: none;
    }
    #menuToggle:not(:checked) ~ label i:first-child {
      display: block;
    }
    #menuToggle:not(:checked) ~ label i:nth-child(2) {
      display: none;
    }
  
    #menuToggle:checked ~ nav {

      height: 100%;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}
    

  



  

  


    
    
    
    
