body {
    width: 100vw;
    height: 100vh;

    display: flex;
    
    align-items: center;
    justify-content: center;

    background: rgb(224, 224, 224);
}

.wrapper {
    width: 350px;
    height: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 30px;
}

.wrapper form {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.wrapper form h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* estilização personalizada do */
.wrapper form button{
    width: 100%;
    height: 62px;

    margin-bottom: 2rem;
}

/* estilização do resto da página */
.wrapper form p {
    color: rgb(68, 68, 68);
}

.wrapper form a {
    text-decoration: none;
    color: #0B0B0A;
}

.wrapper form a:hover {
    color: #4700ca;
}

/* media query para resoluções menores */
@media screen and (max-width: 468px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
        margin-top: 0;
    }
}

@media screen and (max-width: 348px) {
    .wrapper form a {
        display: block;
        text-align: center;
    }
}